<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->

	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.IndexServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AccountServlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.AccountServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>changePasswordServlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.changePasswordServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>CreateAccountServlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.CreateAccountServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>createPositionServlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.createPositionServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>MainPageServlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.MainPageServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>retrychangePassword</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.retrychangePassword</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>createSOPservlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.createSOPservlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>reviseSOP</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.reviseSOP</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>addP2Uservlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.addP2Uservlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>addS2Pservlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.addS2Pservlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>SOPservlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.SOPservlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>allSOPservlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.allSOPservlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Positionservlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.Positionservlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>allPositionservlet</servlet-name>
		<servlet-class>ycp.cs320.teamProject.servlets.allPositionservlet</servlet-class>
	</servlet>

	<!-- Servlet Mappings -->

	<servlet-mapping>
		<servlet-name>Positionservlet</servlet-name>
		<url-pattern>position</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>allPositionservlet</servlet-name>
		<url-pattern>allposition</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SOPservlet</servlet-name>
		<url-pattern>Sop</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>allSOPservlet</servlet-name>
		<url-pattern>allSop</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>Index</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AccountServlet</servlet-name>
		<url-pattern>account</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>createSOPservlet</servlet-name>
		<url-pattern>createSOP</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>reviseSOP</servlet-name>
		<url-pattern>reviseSOP</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>changePasswordServlet</servlet-name>
		<url-pattern>changePassword</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CreateAccountServlet</servlet-name>
		<url-pattern>CreateAccount</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>createPositionServlet</servlet-name>
		<url-pattern>createPosition</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>Login</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>MainPageServlet</servlet-name>
		<url-pattern>MainPage</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>retrychangePassword</servlet-name>
		<url-pattern>retrychangePassword</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>addP2Uservlet</servlet-name>
		<url-pattern>addP2U</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>addS2Pservlet</servlet-name>
		<url-pattern>addS2P</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


</web-app>